.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

body {
  font-family: 'Raleway', sans-serif;
}

a, p,
.skill_text {
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1100px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

.img_common {
  opacity: 0.7;
  transition:all 0.3s;
}

.img_common:hover {
  opacity: 1;
  transition:all 0.3s;
}

.btn {
  color: #fff;
  transition:all 0.3s;
}

.btn:hover {
  color: #333;
  transition:all 0.3s;
}

/* header */

.header {
  padding: 15px 0;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 2;
}

.header_left {
  float: left;
  font-size: 40px;
  color: #4e4e4e;
}

.menu_bar {
  display: none;
}

.header_right {
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
}

/* main */

.main {
  margin-top: 70.67px;
}

/* title */

.title_box {
  padding: 250px 0;
  background-color: #f2f2f2;
  text-align: center;
}

.title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.title_text {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* about */

.about {
  font-size: 0;
  padding-top: 50px;
  background-color: #74cfae;
}

.about_img_wrap,
.about_text_wrap {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.about_img_wrap {
  width: 36%;
}

.about_text_wrap {
  width: 680px;
}

.about_text_logo {
  font-size: 24px;
  color: #fff;
}

.about_text {
  margin-top: 35px;
  font-size: 20px;
  color: #fff;
}

/* work */

.work {
  background-color: #f2f2f2;
  padding: 60px 0 70px;
}

.work_title {
  font-size: 24px;
  text-align: center;
}

.work_img_list {
  font-size: 0;
  margin-top: 40px;
}

.work_img_list > li {
  display: inline-block;
  margin-left: 100px;
}

.work_img_list > li:nth-child(3n + 1) {
  margin-left: 0;
}

.work_img_list > li:nth-child(n + 4) {
  margin-top: 100px;
}


.work_text_wrap {
  width: 65%;
  margin: 90px auto 0;
  font-size: 0;
}

.work_text {
  vertical-align: top;
  text-align: center;
  width: 530px;
  margin-right: 90px;
  display: inline-block;
  font-size: 16px;
}

.email_btn {
  vertical-align: top;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
}

/* skill */

.skill {
  background-color: #4e4e4e;
  padding: 70px 0 100px;
  text-align: center;
}

.skill_title {
  font-size: 24px;
  color: #fff;
}

.skill_img_list {
  font-size: 0;
  margin-top: 30px
}

.skill_img_list > li {
  display: inline-block;
  margin-left: 180px;
}

.skill_img_list > li:first-child {
  margin-left: 0;
}

.skill_text {
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
}

/* SNS */

.sns {
  background-color: #f2f2f2;
  padding: 200px 0;
  text-align: center;
}

.sns_list {
  font-size: 0;
}

.sns_list > li {
  display: inline-block;
}

.sns_wrap {
  padding: 30px 0;
  width: 185px;
  transition:all 0.3s;
  font-size: 40px;
  color: #74cfae;
}

.sns_wrap:hover {
  background-color: #fff;
  transition:all 0.3s;
}

.sns_icon {
}

/* footer */

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px;
}

.footer_text {
  float: right;
  color: #fff;
}

/* pad */

@media all and (max-width: 1199px) {
  .container {
    width: 97%;
  }

/* about */

  .about {
    padding-bottom: 25px;
  }

  .about_text_wrap {
    margin-top: 20px;
  }

  .about_img_wrap, .about_text_wrap {
    width: 100%;
  }


/* work */

  .work {
    text-align: center;
  }

  .work_img_list > li,
  .work_img_list > li:nth-child(n + 4) {
    margin: 0;
    width: 100%;
  }

  .work_img_list > li:nth-child(4n) {
    margin-top: 80px;
  }

  .work_text_wrap {
    width: 100%;
  }

  .work_text {
    margin: 0;
    width: 100%;
  }

  .email_btn {
    margin-top: 40px ;
  }

/* skill */

  .skill_img_list > li {
    width: 100%;
    margin: 88px 0 0;
  }

  .skill_img_list > li:first-child {
    margin-top: 0;
  }

}

/* phone */

@media all and (max-width: 766px) {

  .img_common:hover {
    opacity: 0.7;
    transition:none;
  }

  .btn:hover {
    color: #fff;
    transition:none;
  }

  .sns_wrap:hover {
    background-color: #f2f2f2;
    transition:none;
  }

/* header */

  .menu_btn {
    display: inline-block;
    float: right;
    box-sizing: border-box;
    width: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .bar {
    display: block;
    margin-top: 2px;
    background-color: #ddd;
    height: 2px;
    width: 100%;
  }

  .ber:first-child {
    margin-top: 0;
  }

  .header_right {
    margin-top: 15px;
    width: 100%;
    display: none;
    box-sizing: border-box;
  }

  .header_right_btn {
    width: 100%;
    text-align: left;
  }

  .clicked {
    display: inline-block;
  }

/* title */

  .title_box {
    padding: 160px 0 130px;
  }

  .title {
    font-size: 80px;
  }

/* work */

  .work_img_wrap,
  .work_img {
    width: 100%;
  }

/* sns */

  .sns {
    padding: 50px 0;
  }

  .sns_list {
    padding:0 15px;
  }

  .sns_list > li {
    width: 100%;
  }

  .sns_wrap {
    width: 100%;
  }

}